<form action="/borrows/reader/cancel" method="POST">
  <h2>Bạn có chắc muốn hủy mượn sách <%= borrow.book.title %>?</h2>
  <a href="/borrows/reader" class="btn btn-secondary btn-sm">Quay lại</a>
  <input type="hidden" name="borrow_id" value="<%= borrow.id %>">
  <%- include("../partials/back") %>
</form>
