<div class="container mt-5">
    <%- include("../partials/error") %>
    <h1 class="mb-4 text-danger">Xóa tác giả</h1>
    <div class="card p-4">
        <p>Bạn có chắc muốn xóa tác giả: <strong><%= author.name %></strong>?</p>
        <div class="flex flex-row gap-2 justify-content-end">
            <form action="/authors/delete/<%= author.id %>" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Xóa</button>
        </form>
        <%- include("../partials/back") %>
        </div>
    </div>
</div>