<style>
  .book-img {
    width: 100%; /* chiếm full width của card */
    height: 200px; /* chiều cao cố định vừa phải */
    object-fit: cover; /* ảnh không méo, tự crop */
    border-radius: 4px; /* tuỳ chọn bo góc */
  }
</style>
<div id="carouselExampleIndicators" class="carousel slide border rounded">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item bg-secondary active" style="height: 200px">
      <div class="d-block w-100">
        <p class="text-center">First</p>
      </div>
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
    </div>
    <div class="carousel-item bg-secondary" style="height: 200px">
      <div class="d-block w-100">
        <p class="text-center">Second</p>
      </div>
    </div>
    <div class="carousel-item bg-secondary" style="height: 200px">
      <div class="d-block w-100">
        <p class="text-center">Third</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2>Top sách mới của thư viện</h2>
<a href="/books">Xem tất cả sách</a>

<div class="container mt-4">
  <% if (!books || books.length === 0) { %>
  <p>Không có sách nào.</p>
  <% } else { %>
  <div class="row g-3">
    <% books.forEach(book => { %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100">
        <img
          src="<%= book.image_cover %>"
          class="card-img-top book-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text text-truncate">
            <%= book.description %>
          </p>
          <a href="/books/<%= book.id %>" class="btn btn-primary"
            >Xem chi tiết</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>
