<ul class="nav nav-pills  flex-column gap-2 p-2">
  <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/"> Dashboard</a>
  <a class="nav-link <%= currentPath === '/borrows/reader' ? 'active' : '' %>" href="/borrows/reader"> Mượn/Trả</a>
  <a class="nav-link <%= currentPath === '/fines' ? 'active' : '' %>" href="/fines"> Phạt</a>
</ul>
